In [1]:
import pandas as pd

In [2]:
from ps1_1 import gen_summary
from ps1_2 import genderize
from ps1_3 import fill_in_missing_values

gen_summary('mock_student_data.csv','output/summary_stats.txt')

In [3]:
df = pd.read_csv('mock_student_data.csv', index_col='ID', na_values = [''])

In [4]:
df.columns()

TypeError: 'Index' object is not callable

In [5]:
df.describe()

              Age         GPA  Days_missed
count  771.000000  779.000000   808.000000
mean    16.996109    2.988447    18.011139
std      1.458067    0.818249     9.629371
min     15.000000    2.000000     2.000000
25%     16.000000    2.000000     9.000000
50%     17.000000    3.000000    18.000000
75%     18.000000    4.000000    27.000000
max     19.000000    4.000000    34.000000